<!DOCTYPE html>
<html data-ng-app="App">
<head>
    <title>AngularJS Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="/js/jquery-1.10.2.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>

<div class="container" data-ng-controller="Todo">
    <div class="row">
        <h1>AngularJS Demo - Todo-list </h1>
        <hr/>
        <form>
            <input type="text" data-ng-model="user.name">

            <button type="submit" class="btn btn-primary" data-ng-click="save(user)">Save</button>
        </form>
    </div>

    <br />

    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-3">Name</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr data-ng-repeat="row in rows">
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td><button class="btn btn-danger" data-ng-click="remove(this)">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>